@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
input,
button,
select {
  font-family: 'Poppins', sans-serif;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    @apply w-[0.688rem];
    height: 0.3125rem;
  }

  .scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded-full;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-orange-500;
  }
}
